Django>=5.0

# API (Login/Register endpoints)
djangorestframework

# JWT Token authentication
djangorestframework-simplejwt
PyJWT
bcrypt

# Database Drivers
pymysql
cryptography # It is required from pymysql in order to handle the authentication mathod used by MySQL

django-extensions