Django>=5.0

# API (Login/Register endpoints)
djangorestframework

# JWT Token authentication
djangorestframework-simplejwt
PyJWT
bcrypt

# Database Drivers
pymysql==1.1.1
cryptography==42.0.8 # It is required from pymysql in order to handle the authentication mathod used by MySQL